.container {
  width: 90%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.is-active {
  color: #005aff !important;
}
.main-menu {
  display: flex;
  list-style: none;
  margin: 0px auto 0;
  padding: 0;
  z-index: 7;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main-menu > li.menu-item:first-child {
  padding-left: 0;
  margin-left: 0;
}
.menu-item[type="btn1"] a {
  background-color: #005aff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  white-space: nowrap;
}
.menu-item[type="btn2"] a {
  background-color: #ffab03;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  white-space: nowrap;
}
.menu-item a {
  font-size: 19px;
  font-weight: 600;
  position: relative;
  display: block;
  color: #545050;
  cursor: pointer;
}
.menu-item:hover > a {
  color: #07a8ff !important;
}
.header__middle__logo {
  width: 15%;
  display: inline-block;
  padding-top: 5px;
}
.header__middle__menus {
  width: 80%;
  display: inline-block;
}
.menu-item.menu__qqqitem a {
  margin: 27px 10px;
}
.header__middle {
  display: flex;
  width: 100%;
  float: left;
  border-bottom: 1px dashed lavender;
  position: relative;
  padding: 15px 0;
}
.header__middle__logo > a > h1 {
  color: #07a8ff;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 33px;
}
.header__middle__menus span.text {
  position: absolute;
  right: 177px;
  bottom: 10px;
  font-size: 14px;
  color: #005aff;
}
.sub__menus {
  position: absolute;
  display: none;
  border: 1px solid lavender;
  width: 227px;
  left: -17px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}
.main-nav ul a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 767px) {
  .container{
    padding-right:5px;
  }
  .header__middle .active {
    color: #005aff !important;
  }
  .header__middle__logo {
    padding-top: 5px;
  }
  .menu-item[type="btn1"] a {
    padding: 5px 5px;
  }
  .menu-item[type="btn2"] a {
    padding: 5px 5px;
  }
}


@media (max-width: 991px) {
  .menu-item[type="btn1"],.menu-item[type="btn2"] {
    width: 40%;
    margin: 0 auto;
}
  .header__middle__logo {
    width: 77%;
  }
  .header__middle__menus {
    width: 20%;
  }
  .header__middle__logo img {
    max-width: 197px;
  }

  .main-nav .menubar__button:hover {
    background-color: #f44336;
  }
  .main-nav .menu-item:hover > a {
    color: #07a8ff !important;
  }
  .main-nav .menubar__button {
    display: block !important;
    float: right;
    background-color: #005aff;
    color: #fff;
    padding: 6px 7px;
    border-radius: 5px;
    margin: 0 auto 0;
    cursor: pointer;
    position: relative;
    z-index: 10037;
    transition: 0.7s;
  }
  .main-nav .menubar__button svg {
    font-size: 27px;
  }
  .main-nav ul.menuq2 {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10007;
    background-color: #1a668f;
    border-bottom: 3px solid #005aff;
    right: 0;
    padding-bottom: 15px;
    padding-top: 50px;
  }
  .main-nav .menu-item a {
    margin: 10px 17px;
    text-align: center;
    color: #fff;
  }
  .main-nav ul.main-menu {
    display: none;
  }
  .sub__menus__Active {
    display: block !important;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

}


@media (min-width: 320px) and (max-width: 538px) {
  .container {
    width: 100%;
  }
}
